In [13]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
from functions import load_and_clean_csv,check_nulls_and_duplicates,convert_columns_to_type

In [14]:
url_1 = "C:\\Users\\alexa\\OneDrive\\Escritorio\\archive\\heart_attack_prediction_dataset.csv"
df_1 = load_and_clean_csv(url_1)
df_1.head()

,patient_id,age,sex,cholesterol,blood_pressure,heart_rate,diabetes,family_history,smoking,obesity,alcohol_consumption,exercise_hours_per_week,diet,previous_heart_problems,medication_use,stress_level,sedentary_hours_per_day,income,bmi,triglycerides,physical_activity_days_per_week,sleep_hours_per_day,country,continent,hemisphere,heart_attack_risk
0,BMW7812,67,Male,208,158/88,72,0,0,1,0,0,4.168189,Average,0,0,9,6.615001,261404,31.251233,286,0,6,Argentina,South America,Southern Hemisphere,0
1,CZE1114,21,Male,389,165/93,98,1,1,1,1,1,1.813242,Unhealthy,1,0,1,4.963459,285768,27.194973,235,1,7,Canada,North America,Northern Hemisphere,0
2,BNI9906,21,Female,324,174/99,72,1,0,0,0,0,2.078353,Healthy,1,1,9,9.463426,235282,28.176571,587,4,4,France,Europe,Northern Hemisphere,0
3,JLN3497,84,Male,383,163/100,73,1,1,1,0,1,9.828130,Average,1,0,9,7.648981,125640,36.464704,378,3,4,Canada,North America,Northern Hemisphere,0
4,GFO8847,66,Male,318,91/88,93,1,1,1,1,0,5.804299,Unhealthy,1,0,6,1.514821,160555,21.809144,231,1,5,Thailand,Asia,Northern Hemisphere,0

In [15]:
url_2 = "C:\\Users\\alexa\\OneDrive\\Documentos\\GitHub\\Labs\\FitRing\\pib_paises_en.csv"
df_2 = load_and_clean_csv(url_2)
df_2.head()

          country           gdp
0         Germany  4.456081e+12
1           Spain  1.580695e+12
2           Italy  2.254851e+12
3          France  3.030904e+12
4  United Kingdom  3.340032e+12

In [16]:
tarject_columns_1 = ["age",
                     "sex",
                     "blood_pressure",
                     "heart_rate",
                     "obesity",
                     "exercise_hours_per_week",
                     "sedentary_hours_per_day",
                     "bmi",
                     "physical_activity_days_per_week",
                     "sleep_hours_per_day", "country"
                     ]
df_clean_1 = df_1[tarject_columns_1]
df_clean_1.head()

,age,sex,blood_pressure,heart_rate,obesity,exercise_hours_per_week,sedentary_hours_per_day,bmi,physical_activity_days_per_week,sleep_hours_per_day,country
0,67,Male,158/88,72,0,4.168189,6.615001,31.251233,0,6,Argentina
1,21,Male,165/93,98,1,1.813242,4.963459,27.194973,1,7,Canada
2,21,Female,174/99,72,0,2.078353,9.463426,28.176571,4,4,France
3,84,Male,163/100,73,0,9.828130,7.648981,36.464704,3,4,Canada
4,66,Male,91/88,93,1,5.804299,1.514821,21.809144,1,5,Thailand

In [17]:
tarject_columns_2 = ["country", 
                     "gdp",
                     ]
df_clean_2 = df_2[tarject_columns_2]
df_clean_2.head()

          country           gdp
0         Germany  4.456081e+12
1           Spain  1.580695e+12
2           Italy  2.254851e+12
3          France  3.030904e+12
4  United Kingdom  3.340032e+12

In [18]:
merged_df = pd.merge(df_clean_1, df_clean_2, on= "country", how= "inner")
merged_df.sample(20)

,age,sex,blood_pressure,heart_rate,obesity,exercise_hours_per_week,sedentary_hours_per_day,bmi,physical_activity_days_per_week,sleep_hours_per_day,country,gdp
1153,81,Female,90/110,106,0,19.907737,10.557753,31.708242,7,7,Italy,2.254851e+12
1678,20,Male,132/73,99,0,13.978534,5.899762,28.775689,4,8,Spain,1.580695e+12
412,38,Female,107/66,58,1,15.664194,5.966092,26.672171,3,7,France,3.030904e+12
1759,75,Male,95/61,50,1,2.482770,2.712513,23.990676,1,4,Spain,1.580695e+12
1003,44,Female,139/66,53,0,13.789629,2.527724,27.717697,2,7,Italy,2.254851e+12
1326,81,Female,116/76,45,0,7.544272,0.060734,28.065590,4,4,Italy,2.254851e+12
1580,44,Male,180/108,63,0,0.351685,3.624598,32.104310,0,7,Spain,1.580695e+12
321,25,Female,136/76,81,1,18.411370,7.032407,31.916504,3,10,France,3.030904e+12
1465,68,Female,153/103,110,0,16.232820,3.469596,37.519449,2,5,Spain,1.580695e+12
973,84,Male,109/100,46,1,0.675423,10.223299,32.784693,1,8,Italy,2.254851e+12
1602,87,Female,176/70,68,0,14.831787,6.700335,32.832666,2,9,Spain,1.580695e+12
1015,26,Male,146/82,62,1,2.727393,6.818737,26.127859,7,6,Italy,2.254851e+12
2164,59,Male,146/81,52,1,11.617852,11.187282,27.039769,5,8,United Kingdom,3.340032e+12
1306,60,Female,165/109,85,1,10.882645,6.419684,21.469855,1,10,Italy,2.254851e+12
1830,86,Male,129/66,88,1,2.166378,3.878840,23.325886,3,7,United Kingdom,3.340032e+12
2157,50,Male,156/62,95,0,1.322902,9.300269,25.641310,0,7,United Kingdom,3.340032e+12
814,79,Female,109/65,105,1,18.279449,4.800150,19.914569,3,8,Germany,4.456081e+12
1439,79,Male,126/102,64,1,8.048954,6.504357,34.576379,7,5,Spain,1.580695e+12
2140,44,Male,156/94,85,1,16.262013,3.366542,30.458448,7,10,United Kingdom,3.340032e+12
1367,28,Male,148/82,62,1,15.402393,10.363044,21.041415,3,7,Spain,1.580695e+12

In [19]:
results = check_nulls_and_duplicates(merged_df)

print("Columns with null values")
print(results['nulls'])
print("\nHow many rows are duplicated: ", results['duplicates'])

Columns with null values
Empty DataFrame
Columns: [Column, Null Count]
Index: []

How many rows are duplicated:  0

In [20]:
columns_to_convert = ["sedentary_hours_per_day", "exercise_hours_per_week", "bmi"]
desired_dtype = "int64"
merged_df = convert_columns_to_type(merged_df, columns_to_convert, desired_dtype)
merged_df.dtypes

age                                  int64
sex                                 object
blood_pressure                      object
heart_rate                           int64
obesity                              int64
exercise_hours_per_week              int64
sedentary_hours_per_day              int64
bmi                                  int64
physical_activity_days_per_week      int64
sleep_hours_per_day                  int64
country                             object
gdp                                float64
dtype: object

In [21]:
merged_df.to_csv('merged_data.csv', index=False)